ItemAPI/.vs/ItemAPI/FileContentIndex/
ItemAPI/ItemAPI/bin/Debug/net8.0/appsettings.Development.json
ItemAPI/ItemAPI/bin/Debug/
ItemAPI/ItemAPI/obj/ItemAPI.csproj.nuget.dgspec.json
ItemAPI/ItemAPI/obj/
ItemAPI/.vs/ItemAPI/v17/DocumentLayout.json
ItemAPI/.vs/ItemCatalog/FileContentIndex/
ItemAPI/Item.Application/obj/
ItemAPI/Item.Domain/bin/
ItemAPI/Item.Domain/obj/
ItemAPI/Item.Infrastructure/obj/
ItemAPI/Item.Application/bin/
ItemAPI/Item.Infrastructure/bin/
ItemAPI/Item.Tests/bin/
ItemAPI/Item.Tests/obj/
